body {
  background-color: #1b1b37;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.banner img {
  width: 50%;
  height: auto;
}

.box {
  background-color: white;
  padding: 30px;
  margin: 0 10px;
  border-radius: 50px 0;
  width: 80%;
  max-width: 500px;
}

.outputPassword {
  margin-right: 0.5rem;
  min-width: 100%;
}

.fa-copy {
  cursor: pointer;
  font-size: 1.5em;
}

.fa-copy {
  color: #1b1b37;
}

.btn-primary {
  color: #fff;
  background-color: #1b1b37;
  border: none;
  padding: 8px !important;
}

.fa-copy:hover {
  color: #efc811;
}

.btn-primary:hover {
  color: #1b1b37;
  background-color: #efc811;
}

input {
  text-align: center;
}

img {
  width: 130px;
  height: auto;
  margin-bottom: 1em;
}

h1 {
  font-size: 2em;
}